// Add your custom CSS here.
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');
:root{
    --menu_lv1: 13px;
    --menu_lv2: 12px;
    --bn_btn-text: 16px;
    --bn_title: 28px;
    --bn_description: 16px;
    --section_title:32px;
    --section_subtitle:16px;
    --body:16px;
    --banner_spacer: 2rem;
    --f_big:20px;
    --f_small:13px;
    --f_normal:16px;
    

    --red:#AE0533;
    --green:#01D6CA;
    --black:#131313;
    --lightBlack:#131313;
    --gray:#848484;
    --borderColor: #f2f2f2;
    // --borderColor: #f8f8f8;
}
body,
a,
span,
button,
div,
p,
small{
    font-family:'Work Sans', sans-serif;
    color:var(--black)
}
.minibanners_slider .banner{margin:0 auto; display:block; width:fit-content}
.minibanners_slider .glide__arrow--left{
    left:-23px;
}
.minibanners_slider .glide__arrow--right{
    right:-23px;
}

@media(min-width:990px){
    .minibanners_slider .glide__arrow--left{
        left:-70px;
    }
    .minibanners_slider .glide__arrow--right{
        right:-70px;
    }
}
@media(max-width: 480px) {
    #search-bar {
      display: block !important;
    }
}

.header__submenu {
  max-width: none;
  min-width: 100%;
  left: 0%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  gap: var(--spacer-1);
  margin-top: var(--spacer-2);
}

.slick-slider{
    .apx_arrow{
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        z-index: 2;
        border: 0;
        padding: 0%;
        background: transparent;
    }
    .prev{left: -20px;}
    .next{right: -20px;}
}
.slick-dots{
    display: flex;
    gap: 5px;
    justify-content: center;
    li{
        width: auto;
        display: block;
        margin: 0;
        button{
            font-size: 0;
            background: transparent;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            padding: 0;
            border: 1px solid var(--red);
            position: relative;
            
        }
        button:before{
            display:none
        }

    }
    li.slick-active{
        button:after{
            content:"";
            height: 9px;
            width: 9px;
            background: var(--red);
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-justify{text-align:justify}
.align-items-center{align-items: center;}
.justify-content-between{justify-content: space-between;}
.justify-content-end{justify-content: end;}

// .apx_banner-slider{
//     max-width:100%;
//     height:auto!important;
//     --banner-aspect-ratio:1!important;
//     --banner-aspect-ratio-mobile:1!important;
// }

.apx_banner{position:relative}
.apx_banner .apx_banner-content h3{
    font-size:var(--bn_title);
    font-weight:bold;
    text-transform: initial;
}
.apx_banner .apx_banner-content p{
    font-size:var(--bn_description);
    line-height:calc(var(--bn_description) * 2)!important;
    font-family: 'Source Sans Pro';
    line-height:initial;
    margin:1rem 0 0 0;
    max-width:80%;
    display: block;
}
.apx_banner .apx_banner-content a{
    line-height:40px;
    padding:0 2rem;
    display:inline-block;
    width:fit-content;
    text-transform:initial;
    letter-spacing: 0.1em;
    font-weight:400;
    font-size:var(--body);
    margin-top:2rem;
    text-transform: uppercase;

}
.apx_banner .apx_banner-content{margin:var(--banner_spacer) 0}
.apx_banner .apx_banner-content.inside_image{
    position:absolute;
    margin:0;
}
.apx_banner .apx_banner-content.inside_image.top_left{
    top:var(--banner_spacer);
    left:var(--banner_spacer);
    bottom:auto;
    right:auto;
}
.apx_banner .apx_banner-content.inside_image.top_middle,
.apx_banner .apx_banner-content.inside_image.center_middle,
.apx_banner .apx_banner-content.inside_image.bottom_middle{text-align: center;}
.apx_banner .apx_banner-content.inside_image.top_middle{
    top:var(--banner_spacer);
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.top_right,
.apx_banner .apx_banner-content.inside_image.center_right,
.apx_banner .apx_banner-content.inside_image.bottom_right{text-align: right;}
.apx_banner .apx_banner-content.inside_image.top_right{
    top:var(--banner_spacer);
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
}

.apx_banner .apx_banner-content.inside_image.center_left{
    top:50%;
    left:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_middle{
    top:50%;
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_right{
    top:50%;
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.center_center{
    top:50%;
    left:50%;
    translate:-50% -50%;
}
.apx_banner .apx_banner-content.inside_image.bottom_left{
    top:auto;
    left:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_middle{
    top:auto;
    left:auto;
    right:auto;
    bottom:var(--banner_spacer);
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_right{
    top:auto;
    right:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.center_center *{margin-left:auto;margin-right:auto}
.apx_banner .apx_banner-content.top_left *,
.apx_banner .apx_banner-content.center_left *,
.apx_banner .apx_banner-content.bottom_left *{text-align:left}
.apx_banner .apx_banner-content.top_center *,

.apx_banner .apx_banner-content.center_center,
.apx_banner .apx_banner-content.bottom_center *{text-align:center;justify-content:center}
.apx_banner .apx_banner-content.top_right *,
.apx_banner .apx_banner-content.center_right *,
.apx_banner .apx_banner-content.bottom_right *{text-align:right}

.menu-trigger.open{
    border: 0;
    background: transparent;
    padding: 0;
}

/* AMAI HEADER */
#a-header{
    background:#fff;
    .level_1{
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        align-items: center;
        gap: 30px;

        li{
            a{
                font-size: var(--menu_lv1);
                text-transform: uppercase;
            }
        }

        li:first-child{
            a{
                border: 1px solid var(--red);
                border-radius: 30px;
                padding:.4rem .8rem
            }
        }
    }

    .header__search{
        border:1px solid var(--borderColor);
        display: flex;
        align-items: center;
        min-width:220px;

        .header__search-input{
            font-weight: 300;
            font-size:var(--f_small);
            height: 34px;
        }
        .header__search-btn{
            position: relative;
            right: auto;
            top: auto;
            left: auto;
            bottom: auto;
            margin: 0;
            padding: 0 0 3px 10px;
        }
    }
}

.top-bar{
    background:#fff;
    border-bottom: 1px solid var(--borderColor);
    .top-bar__countdown{height: auto;}
    a{
        font-size:var(--f_small);
        display: block;
        line-height: 44px;
        padding: 0;
    }
}

.apx_section-title{
    h2{
        font-size:var(--section_title);
        color:var(--black);
        font-family: 'Gilda Display';
    }
    small{
        color:var(--gray);
        font-size:var(--body);
        font-weight:300;
    }
}

.apx_banner{
    width:100%;
    .after_image{
        text-align: center;
        padding:0 15%;
        h3,p,a{
            text-align:center;
            margin-left:auto;
            margin-right:auto;
            text-align: center!important;

        }
    }
}

.harmonizacoes{
    padding-left: 2rem;
    padding-right: 2rem;

    .slick-slider{

        .slick-slide{
            padding:0!important;
            .apx_banner{padding:0 5px}
        }
    }

    .apx_banner{
        position: relative;
        .apx_banner-content{
            z-index:2;
            h3{
                margin-top: calc(50px + 2rem);                
                transition: all .3s ease-in-out;
                font-family:'Gilda Display';
                font-size: var(--section_title);
                font-weight: normal;
            }
            h3:after{
                content:'';
                background:var(--red);
                width:30px;
                height:5px;
                display: block;
                margin:15px auto -20px auto;
                opacity: 0;
                transition: all .3s;
            }
            a{
                opacity: 0;
                transition: all .3s ease-in-out;
                white-space: nowrap;
            }
            
        }
    }

    .apx_banner:before{
        content:"";
        background:#000;
        height:100%;
        width: calc(100% - 10px);
        position: absolute;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    .apx_banner:hover:before{
        opacity: .8;
    }

    .apx_banner:hover{
        .apx_banner-content{
            h3{
                margin-top:0;
                
            }
            h3:after{
                opacity: 1;
            }
            a{
                opacity: 1;
                text-decoration: none;
                transition: opacity .3s;
            }
            a:hover{opacity: .8;}
        }
    }
}

#a-footer{
    h4{
        color: var(--red);
        font-family: 'Gilda Display';
        font-size:var(--f_big);
        font-weight: normal;
        margin-bottom:1.5rem;
    }
    ._18{
        span{
            font-size: 86px;
            display:block;
            border: 8px solid var(--red);
            height: 130px;
            width: 130px;
            line-height: 120px;
            border-radius: 130px;
            text-align: center;
            position: relative;
            margin: 0 auto 20px auto;
        }
        span:after{
            content:'';
            position: absolute;
            height: calc(100% + 5px);
            width: 8px;
            rotate: 45deg;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background: var(--red);
        }
        strong{
            text-transform: uppercase;
            color: var(--red);
            display: block;
            text-align: center;
        }
        small{font-size:var(--f_small);font-weight: 300;text-align: center;line-height: initial;margin-top: 10px;display: block;}
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0 0 2rem 0;
        li{
            margin-bottom: 10px;
            a{
                
            }
        }
    }

    .a-contacts{
        img{margin-bottom: 20px;display: block;}
        ul{
            margin: 0;
            li{margin-bottom:5px}
        }
        p{
            margin: 10px 0 30px 0;
            color: var(--gray);
            font-size: var(--f_small);
        }
        a{font-weight: 500;}

        .footer__social{
            a{
                background: var(--red);
                border-radius: 50px;
                opacity: 1;
                width: 30px;
                height: 30px;
                line-height: 27px;
                display: inline-block;
                text-align: center;

                i{color: #fff;font-weight: normal;font-size: 14px;}
            }
        }
    }

    hr{
        border-color: var(--borderColor);
        margin: 30px 0 60px 0;
    }

    .footer_credits{
        p, span{font-size: var(--f_small);color: var(--gray);}
    }

    .stamps,
    .footer__payment-methods{
        margin: 0;
        display: flex;
        gap: 15px;
        i{
            margin: 0;
        }
        li{
            margin: 0;
            padding: 0;
        }
    }
}
.product-card__pictures,
.product-card__pictures picture,
.product-card__pictures picture img{max-height:90%;height:var(--height)}

.product-card{

    a{text-decoration:none}
    .apx_brand{
        font-size:var(--f_small);
        font-weight:300;
        display: block;
    }
    .product-card__name{
        font-size:var(--f_normal);
        font-weight:400;
        color:#000;
        padding-top: 0;
        margin-bottom: 10px;
    }
    
    .prices__value{font-size:var(--f_normal);font-weight:600}

    .product-card__buy.fade{
        opacity: 1;
        border-radius: 0;
        background: var(--red);
        margin-top: 20px;
        width: fit-content;
        line-height: initial;
        padding: 0;
        button{background: transparent;border: 0;padding: 0 1rem;}
        span{
            background: transparent;
            font-size: var(--f_small);
            color:#fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            display: block;
            line-height: 34px;            
        }
    }

    .product-card__pictures{border:1px solid #f2f2f2;margin-bottom:10px}
}

.apx_origin{
    margin-bottom: 10px;
    color:var(--gray);
    font-size:var(--f_small);
    font-weight:300;
    display: flex;
    align-items: center;
    .apx_country-flag{
        display: inline-block;
        height: 18px;
        width: 18px;
        min-width: 18px;
        min-height: 18px;
        margin-right: 5px;
        border-radius: 50%;  
        background-size:cover!important;         
    }
    .apx_country-name{}        
    .apx_country-region{
        box-sizing: content-box!important;
        overflow: hidden;
        z-index: 1;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }
}

@media(min-width:990px){
    [data-num_col_md="3"]{
        .product-card__pictures{
            border:0;
        }
        span,
        small,
        .prices__value{text-align:center}
        .prices__value{font-size: var(--f_big);}

        .product-card__buy{margin-left:auto;margin-right:auto}
        .product-card__prices{gap:5px}

        .product-card .apx_origin{max-width: 60%;margin-left: auto;margin-right: auto;}

        .slick-current + .slick-slide{
            border-left:1px solid #f2f2f2;
            border-right:1px solid #f2f2f2;
        }
    }
}

.product-card,
.product-card:hover{
    box-shadow:0px 0px 0px
}


.blog_slide{
    .blog_slide-item{
        .card{
            margin:0 5px 30px 5px;
            border:0;

            .card-body{
                padding:20px 12% 0 0;
                .card-title{
                    a{font-size:var(--f_big)}
                }
                .card-text{
                    color:var(--gray);
                    font-size:var(--f_normal)
                }

                .blog-post-link{
                    background: var(--red);
                    border-radius: 0;
                    line-height: normal;
                    margin-top: 20px;
                    opacity: 1;
                    padding: 0 1rem;
                    width: -moz-fit-content;
                    width: fit-content;
                    color: #fff;
                    display: block;
                    font-size: var(--f_small);
                    letter-spacing: 2px;
                    line-height: 34px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
// .prices:not(.prices--big) .prices__installments:before{content:"ou "}