// Add your custom CSS here.
.minibanners_slider .banner{margin:0 auto; display:block; width:fit-content}
.minibanners_slider .glide__arrow--left{
    left:-23px;
}
.minibanners_slider .glide__arrow--right{
    right:-23px;
}

@media(min-width:990px){
    .minibanners_slider .glide__arrow--left{
        left:-70px;
    }
    .minibanners_slider .glide__arrow--right{
        right:-70px;
    }
}
@media(max-width: 480px) {
    #search-bar {
      display: block !important;
    }
}